* {
    margin: 0%;
    padding: 0%;
}

.container {
    max-width: 750px;
    text-align: center;
    margin-top: 100px;
    margin-left: 20%;
}

label {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 20px;
    top: 20px;
    right: 20px;
}

label.active::before {
    background: #000000;
}

body.night {
    background: #000000;
    color: #fff;
}